<a class="article-embedded {{content.theme.id}}" href={{cardstack-url content}} >
  <h2 data-test-article-embedded-title>{{content.title}}</h2>
  <p data-test-article-embedded-description>{{content.description}}</p>
  <div data-test-article-embedded-author>{{content.authorName}}</div>
  <div data-test-article-embedded-published-date>{{publishedDate}}</div>
  <div data-test-article-embedded-category>{{content.category.name}}</div>
</a>
