<div class="article-isolated {{content.theme.id}}">
  {{!-- I'm adding this cs-field component in the template just so that the field can appear in the right edge.
        Ideally we shouldn't have to do that. filed as https://github.com/cardstack/cardstack/issues/685 --}}
  {{#cs-field content "theme"}}{{/cs-field}}

  {{!-- This element is used to prevent async from leaking in tests while loading models --}}
  {{#if (and (eq config.environment 'test') loadData.isIdle)}}
    <div style="display:none" data-test-article-isolated-done-loading></div>
  {{/if}}

  {{#cs-field content "coverImage"}}
    <div class="article-isolated--cover-image
               {{if (and cardstackTools.editing (not coverImageBackgroundImageCss)) 'cardstack-image-placeholder'}}"
               style={{coverImageBackgroundImageCss}}></div>
  {{/cs-field}}
  <h1 data-test-article-isolated-title>{{content.title}}</h1>
  <p data-test-article-isolated-description>{{content.description}}</p>
  <div data-test-article-isolated-author>{{content.authorName}}</div>
  <div data-test-article-isolated-published-date>{{publishedDate}}</div>
  {{#cs-field content 'category' as |category|}}
    <div data-test-article-isolated-category>
      {{#if (and cardstackTools.editing (not category))}}
        Enter Category
      {{else}}
        {{category.name}}
      {{/if}}
    </div>
  {{/cs-field}}
  <div data-test-article-isolated-body>
    {{content.body}}
  </div>

</div>
